<%- include('header') -%>
    <div  class="box" id="heading">
        <H1><%= PageTitle %></H1> 
        <H1><%= Day %></H1> 
    </div>    
	
                <div class="box" >
                    <% newListitems.forEach(function(item){ %>
                  
                                                                        <!-- data from database -->
                        <form action="/delete" method="post">
                        <div class="item">
                        <input type="checkbox" name="checkbox" value="<%=item._id%>"   onchange="this.form.submit()">    
                        <input type="hidden" name="PageTitle" value="<%= PageTitle %>" >
                        <p><%= item.name %></p>
                        
                        </div>    
                    </form>
                 
                     <%})%>
<!-- 
                traditional for loop 
                     <% for(let i=0;i<newListitems.length;i++) { %>
                        <div class="item">
                            <input type="checkbox">    
                            <p><%= newListitems[i] %></p>
                            </div>    
                            <%}%>
 -->
      
                                                                            <!-- new user enter data form -->
                        <form class="item" action="/"  method="post">
       
                         <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                   
                         <button  type="submit" value="<%= PageTitle %>" name="button">+</button
                      </form>
                </div> 
            

<%- include('footer') -%>
      
        