<%- include('partial/header.ejs'); -%>
<h1> Home  
</h1>
<p>  <%=  homeContent %>
 </p>

      
    <% posts.forEach(function(post){   %> 
     <h1><%= post.pTitle %></h1>
    
    <p><%= post.pBody.substring(0,100)+ "..." %><a href="/posts/<%= post.pTitle %>">Read More</a></p>       <!-- i use substring to trunkcate the post body -->
    
    <br>  
    <% });  %>




<%- include('partial/footer'); -%>
